<!DOCTYPE html>
<html>
  <style>
    p{
      font-size: 200%;
      font-weight: bold;
    }

    button {
      border: none;
      color: black;

      width: 60%;
      margin-top: 5%;
      margin-bottom: 0%;

      border: 2px solid black;
      border-radius: 4px;

      font-size: 200%;
    }
    body{
      background-image:url(./imgs/background2.bmp);
      background-repeat: no-repeat;
      max-height : 100%;
      max-width : 100%;
    }
  </style>
  <head>
    <title>Safety driving</title>
  </head>
  <audio id="sound_move">
    <source src = "./audios/canyoumove.mp3" type = "audio/mpeg">
  </audio>
  <audio id="sound_no">
    <source src = "./audios/Pleasedon'tmakeanyabruptmovements .mp3" type = "audio/mpeg">
  </audio>
  <audio id="sound_yes">
    <source src = "./audios/pleasegetoutofthecarasfastaspossible.mp3" type = "audio/mpeg">
  </audio>
  <body>
    <center>
      <div style = "background-color : rgba(0,0,0,0.2); margin-top : 15%; margin-right: 5%; margin-left:5%;">
        <p><br></p>
        <p id="message">Can you move? <br> </p>
        <button id = "yes_btn"onclick="yes_clicked()" style="background-color: rgba(0, 255, 0, 1);">Yes </button>
        <button id = "no_btn" onclick="no_clicked()" style="background-color: rgba(255, 0, 0, 1);">No </button>
        <p><br></p>
      </div>
    </center>
  </body>
  <script>
    var sound = document.getElementById("sound_move");
    sound.play();
    function yes_clicked(){
      var sound = document.getElementById("sound_yes");
      sound.play();
      document.getElementById("yes_btn").style.display="None";
      document.getElementById("no_btn").style.display="None";
      document.getElementById("message").innerHTML = "Please get out of the car as quick as possible. We are calling the emergency services.";
      yesClicked = true;
    }
    function no_clicked(){
      if(!yesClicked){
        var sound = document.getElementById("sound_no");
        sound.play();
        document.getElementById("yes_btn").style.display="None";
        document.getElementById("no_btn").style.display="None";
        document.getElementById("message").innerHTML = "Please don't make any abrupt movements. We are calling the emergency services.";
      }
    }
    var yesClicked = false;
    setTimeout(no_clicked, 7000);
  </script>
</html>
