<!doctype html>
<html>

  <head>
  	<!-- Titol princiapl de la pagina-->
  	<title> Simulation for secure driving messages </title>
    <style>
      body {
    	  background-color: #CEECF5
      }
    </style>
  </head>
  <!-- Buttons dins de Style si calen-->
  <body>
  	<h1 style="color:black;text-align:center;font-family: Arial">Simulation for secure driving messages</h1>
    <div style="text-align:center">
      <canvas id="screen" width=1200 height=700 style="border:1px solid #d3d3d3;"></canvas>
    </div>
    <script src= 'car.js'></script>
    <script src= 'render.js'></script>
    <script src= 'controller.js'></script>
  </body>

</html>