<!doctype html>
<html>
  <style>
    body{
      background-image:url(./imgs/background2.bmp);
      background-repeat: no-repeat;
      background-size: 1920px 1080px;
      max-height : 100%;
      max-width : 100%;
    }
  </style>
  <head>
  	<!-- Titol princiapl de la pagina-->
  	<title> Simulation for secure driving messages </title>
    <style>
      body {
    	  background-color: #CEECF5
      }
    </style>
  </head>
  <audio id="sound_park">
    <source src = "./audios/Slowdownaparcisclose.mp3" type = "audio/mpeg">
  </audio>
  <audio id="sound_school">
    <source src = "./audios/becarefulaschoolisnearby.mp3" type = "audio/mpeg">
  </audio>
  <audio id="sound_hospital">
    <source src = "./audios/becarefulahospital.mp3" type = "audio/mpeg">
  </audio>
  <audio id="sound_dangerous">
    <source src = "./audios/youareapprochingadangerouszone.mp3" type = "audio/mpeg">
  </audio>
  <audio id="sound_out_road">
    <source src = "./audios/youareoutoftheroad.mp3" type = "audio/mpeg">
  </audio>
  <!-- Buttons dins de Style si calen-->
  <body>
  	<h1 style="color:black;text-align:center;font-family: Arial">Simulation for secure driving messages</h1>
    <div style="text-align:center">
      <canvas id="screen" width=1080 height=630 style="border:1px solid #d3d3d3;"></canvas>
    </div>
    <script src= 'car.js'></script>
    <script src= 'render.js'></script>
    <script src= 'controller.js'></script>
  </body>

</html>
