<!-- Comment!!-->
<!DOCTYPE html>
<html>
  <style>
    .fit {
      max-width: 100%;
      max-height: 100%;
    }
    img {
      padding: 0;
      display: block;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
    }
  </style>
  <head>
    <title>Safety driving</title>
  </head>
  <body background = "./imgs/background.jpg" background-repeat= "no-repeat" background-size = "cover">
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>
  </body>
</html>
